:root{
        --purple:rgb(54, 18, 54);
        --medium-purple: rgb(105, 36, 105);
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

}

html {
        position: relative;
        font-size: 10px;
        line-height: 1.5;
}

body {
        width: 100vw;
        height: 100vh;
}

p,
li {
        font-size: 2.5rem;
}

h1 {
        font-size: 4rem;
}

#body {
        width: 100%;
        height: 100%;
        background-image: url("./images/BG.png");
        background-position: center;
        background-size: cover;


        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        z-index: 10;
}

/************************* CV  */
.cv_container {
        height: 80vh;
        width: 50vw;
        box-shadow: 0 2px 10px 4px var(--purple);
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 20px;

        display: flex;
        overflow: hidden;
}
.second{
        display: none;
}

.left-section {
        flex: 1;
        background-color: rgba(252, 223, 255, 0.4);
        text-align: center;

}

.left-section > img {
        max-width: 20rem;
        height: 100%;
        width: 100%;
        max-height: 20rem;
        margin-top: 5rem;
        box-shadow: 0px 0px 10px 2px var(--purple);
        border-radius: 5px;
}

.left-section span {
        font-size: 7rem;
        color: purple;
}
#back img:hover, #back img:active{
        cursor: pointer;
        box-shadow: 0px 0px 7px 6px var(--purple);
        background-color: var(--medium-purple);
        border: none;
}

.right-section {
        flex: 2;
        margin-left: 10rem;
}

.right-section>h1 {
        text-align: center;
        font-size: 5rem;
        color:var(--medium-purple);
}

.right-section section h1 {
        margin: 3rem auto auto -5rem
}
.control img, #back img{
        width: 5rem;
}
.control div{ 
        margin-top: 2rem;
        text-align: center;
}

.arrow-up{transform: rotate(180deg) translateY(20px);}
.arrow-left{transform: rotate(90deg);}
.arrow-right{transform: rotate(-90deg);}




/*************** FIRST PAGE  */
.first{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
}
.first-top{
        display: flex;
        justify-content: center;
        align-items: center;
  
}
.first-top p{
        font-size: 4rem;
        font-style: italic;
        margin-left: 1rem;
        color: var(--purple);
}
.dog {
        background: transparent url('./images/dog_run.png') 0 0 no-repeat;
        width: 302px;
        height: 210px;
        animation: run 1s steps(18) infinite;
}

@keyframes run {
        100% {
                background-position: -5436px, 0;
        }
}

.first-bottom{
        text-align: center;
}

#button, #about, #restart {
        width: 20rem;
        height: 6rem;
        font-size: 3rem;
        color: white;
        background-color: var(--purple);
        margin: 3rem;
        box-shadow: 1px 2px 6px 3px gray;
        border: none;
        cursor: pointer;
        transition: all 1s;
        transform: translateY(5px) scale(1);
}
#button:hover, #about:hover,
#button:active, #about:active,
#restart:active, #restart:hover{
        transform: translateY(5px) scale(1.1);
        background-color: var(--medium-purple);
}
 

/******** GAME OVER  */


.third{
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
}
.third > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
}
.dog-die {
       width: 300px;
       height: 300px;
       margin-right: 30px;
}
.dog-die ~h1{
        font-size: 8rem;
        background: linear-gradient(to right, rgb(128, 128, 9), rgb(148, 148, 61), black);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow_animation 6s ease-in-out infinite;
        background-size: 400% 100%;
    }
    
    @keyframes rainbow_animation {
        0%,100% {
            background-position: 0 0;
        }
    
        50% {
            background-position: 100% 0;
        }
    }



#canvas {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid black;
}



@media (max-width:1200px){
        html {
             
                font-size: 5px;
              
        }
}